@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* header style */
header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0px 0px 0px 0px;
    flex-wrap      : wrap;
    background     : #ffffff;
    height         : 100px;
    width: 61%;
    margin: 0 auto;
}

.logo {
    height: 40px;
}

 ul li {
    display     : inline-block;
    font-size   : 16px;
    font-weight : 600;
    padding-left: 50px;
} 

ul li a {
    color: #2E343E;
}

/* section-1 video */
.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background: rgba(0,0,0,0.65);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-desc h1 {
    color: white;
    font-size: 48px;;
    text-align: center;
    font-weight: 900;
}
  
.overlay-desc p {
    font-size  : 25px;
    font-weight: 900;
    text-align : center;
    color      : #fff;
    padding-top: 30px;
    line-height: 30px;
}

.button-container {
    justify-content: space-between;
    text-align     : center;
    margin         : 30px;
}

.button-container a {
    font-size  : 16px;
    font-weight: 300;
    color      : #fff;
    line-height: 100%;
}

.button-solid {
    background   : #2693EE;
    border       : none;
    border-radius: 129px;
    padding      : 18px 45px 18px 45px;
    margin-right : 15px;
}

.button-border {
    border       : 2px solid #2693EE;
    background   : none;
    border-radius: 129px;
    padding      : 18px 45px 18px 45px;
    margin-left  : 15px;
}

main {
    margin: 0 auto;
    width: 61%;
}
  
p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

/* tablet style */
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('video/plane.png') center center / cover no-repeat;
    }
 
    .fullscreen-bg__video {
        display: none;
    }
}