@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext');

body {
    font-family: 'Montserrat', sans-serif;
}

/* header start */
header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0px 0px 0px 0px;
    flex-wrap      : wrap;
    background     : #ffffff;
    height         : 100px;
    width          : 61%;
    margin         : 0 auto;
}

.logo {
    height: 40px;
}

ul li {
    display     : inline-block;
    font-size   : 16px;
    font-weight : 600;
    padding-left: 50px;
} 

ul li a {
    color: #2E343E;
}
/* header end */

/* section-1 video start */
.video-container {
    position: relative;
}

video {
    height        : auto;
    vertical-align: middle;
    width         : 100%;
}

.overlay-desc {
    background     : rgba(0,0,0,0.65);
    position       : absolute;
    top            : 0; right: 0; bottom: 0; left: 0;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

.overlay-desc h1 {
    color      : white;
    font-size  : 48px;;
    text-align : center;
    font-weight: 800;
}
  
.overlay-desc p {
    font-family: 'Montserrat', sans-serif;
    font-size  : 25px;
    font-weight: 800;
    text-align : center;
    color      : #fff;
    padding-top: 30px;
    line-height: 30px;
}

.button-container {
    justify-content: space-between;
    text-align     : center;
    margin         : 30px;
}

.button-container a {
    font-size  : 16px;
    font-weight: 300;
    color      : #fff;
    line-height: 100%;
}

button {
    border       : 2px solid #2693EE;
    border-radius: 50px;
    padding      : 18px 45px;
}

.button-solid {
    background  : #2693EE;
    margin-right: 15px;
}

.button-border {
    background : none;
    margin-left: 15px;
}
/* section-1 video end */

main {
    margin: 0 auto;
    width : 61%;
}
  
p {
    font-family: 'Roboto', sans-serif;
    color: #606060;
    font-size  : 18px;
    line-height: 130%;
    font-weight: 400;
}

h2 {
    color      : #2e343e;
    font-size  : 48px;;
    text-align : center;
    font-weight: 800;
    padding: 100px 0 50px 0;
}

h3 {
    color      : #2e343e;
    font-size  : 36px;;
    font-weight: 800;
    line-height: 100%;
}

/* section-2 start */
.your-business {
    width: 60%;
    margin: 0 auto;
}

.item-business {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

.item-el {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px; 
}

.item-el:last-child {
    padding-bottom: 0;
}

.text {
    width: 462px;
}

.text p {
    padding-top: 20px;
}

.item-el img {
    height: 462px;
}
/* section-2 end */

/* tablet style */
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('video/plane.png') center center / cover no-repeat;
    }
 
    .fullscreen-bg__video {
        display: none;
    }
}